@import "imports";
#main-content {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

html,
body {
    background-color: $gray-200;
    font-family: $font-family-sans-serif;
}

.lightbox-thumbnail {
    width: 15%;
    height: auto;
    margin: 25px;
}

.jumbotron {
    background-color: $cyan;
}

.jumbotron p {
    color: $gray-800;
}

#about-me {
    text-align: justify;
    line-height: 1.9;
}

.titles {
    font-style: italic;
}

#nav-arrow a {
    color: $orange;
}